.status-btn {
    background-color: #5CB85C;
    border-radius: 4px;
    color: white;
    border-color: white;
    box-shadow: none;
}

.status-btn-pr {
    background-color: #999999;
    border-radius: 4px;
    color: white;
    border-color: white;
    box-shadow: none;
}
